
 <app-header></app-header>
 <div class=" container" *ngIf="!loginDisplay" >
   <section class="flex">
     <div class="box-0">
       <p class="font-box">9Box</p>
     </div>
   </section>
  
 </div>
 
 <router-outlet></router-outlet>
 
 
 <div class=" container" *ngIf="loginDisplay">
   <section class="flex">
     <div class="box-1" > 
       <p class= "font-boxes">Dashboard</p>
       <mat-icon class="icons">dashboard</mat-icon>
     </div>
     <div class="box-2">
       <p class= "font-boxes1">Coraboradores</p>
       <mat-icon class="icons1">supervisor_account</mat-icon>
     </div>
     <div class="box-2">
       <p class= "font-boxes1">Avaliações</p> 
       <mat-icon class="icons1">thumb_up</mat-icon>
     </div>
     <div class="box-2">
        <p class= "font-boxes1">Perfil</p> 
        <mat-icon class="icons1">perm_identity</mat-icon>
     </div> 
     <div class="box-2">
         <p class= "font-boxes1">Habilidades</p>
         <mat-icon class="icons1">trending_up</mat-icon>
     </div>
     <div class="box-2">
         <p class= "font-boxes1">Competências</p>
         <mat-icon  class="icons1">star_border</mat-icon>
     </div>
     <div class="box-2">
       <p class= "font-boxes1">Equipes</p>
       <mat-icon class="icons1">how_to_reg</mat-icon>     
   </div>
     
   </section>
 </div>
 
 
 